@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$black: #000;
$white: #fff;
$blue: #3c82f7;
$red: #f04543;
$yellow: #f49f0c;
$green: #22c65f;

$sm: 576px; 
$md: 768px; 
$lg: 992px; 
$xl: 1200px; 
$xxl: 1400px;

@mixin btn($bg, $color, $border-color) {
    background-color: $bg;
    color: $color;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        box-shadow: 1px 1px 10px rgba($border-color, .5);
    }

    &:disabled {
        opacity: .1;
        cursor: no-drop;
    }

    .fa-solid {
        color: $color;
    }

}

:root {
	font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: rgba($black, .2);

    &:hover {
        background: rgba($black, .3);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: #333;
}

body {
    background-color: #fafafa;
}

.container {
    width: 100%;
    max-width: $xxl;
    margin: 0 auto;
    padding: 0 20px;
}

.component {
    &__table {
        overflow-x: auto;
        width: 100%;
        border: 1px solid rgba($black, .2);
        box-shadow: 1px 1px 10px rgba($black, .1);

        table {
            width: 100%;
            border-collapse: collapse;

            tr th, tr td {
                padding: 10px 20px;
                text-align: left;
                border-bottom: 1px solid rgba($black, .2);
                white-space: nowrap;
            }

            thead {
                background-color: rgba($black, .05); 

                tr {
                    th {
                        font-weight: 600;
                    }
                }
            }

            tbody {
                tr {
                    &:nth-child(odd) {
                        background-color: rgba($blue, .05); 
                    }

                    &:nth-child(even) {
                        background-color: $white;
                    }

                    &:hover {
                        background-color: rgba($blue, .1); 
                    }

                    td {
                        a {
                            color: $blue;
                            text-decoration: none;
                        }
                    }
                }
            }

            @media (max-width: $sm) {
                tbody, th, td, tr {
                    display: block;
                }

                thead {
                    display: none;
                }

                td {
                    display: flex;

                    &::before {
                        content: attr(data-label);
                        font-weight: 600;
                        margin: 0 4px 0 0;
                    }
                }
            }

        }
    }

    &__btn {
        &--primary {
            @include btn($blue, $white, $blue);
        }

        &--secondary { 
            @include btn(transparent, $blue, $blue);
        }

        &--success {
            @include btn($green, $white, $green);
        }

        &--danger {
            @include btn($red, $white, $red);
        }
    }
}