<main>

  <section class="sec-pacientes">
    <div class="container">
      <button type="button" (click)="abrirModal('#modalForm')">
        Cadastrar Paciente
      </button>

      <div class="component__table">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Dt. Nasc.</th>
              <th>Gênero</th>
              <th>CPF</th>
              <th>RG</th>
              <th>UF do RG</th>
              <th>E-mail</th>
              <th>Celular</th>
              <th>Telefone</th>
              <th>Convênio</th>
              <th>Nº Carteirinha</th>
              <th>Dt. Validade</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let p of pacientes">
              <td data-label="ID">{{p?.id}}</td>
              <td data-label="Nome">{{p?.nome}}</td>
              <td data-label="Sobrenome">{{p?.sobrenome}}</td>
              <td data-label="Dt. Nasc.">{{ p?.dataNascimento | date:'dd/MM/yyyy' }}</td>
              <td data-label="Gênero">{{p?.genero}}</td>
              <td data-label="CPF">{{p?.cpf}}</td>
              <td data-label="RG">{{p?.rg}}</td>
              <td data-label="UF do RG">{{p?.ufRg}}</td>
              <td data-label="E-mail">{{p?.email}}</td>
              <td data-label="Celular">{{p?.celular}}</td>
              <td data-label="Telefone">{{p?.telefone}}</td>
              <td data-label="Convênio">{{ p?.convenio?.nome || getConvenioNome(p?.convenioId) }}</td>
              <td data-label="Nº Carteirinha">{{p?.numeroCarteirinha}}</td>
              <td data-label="Dt. Validade">{{p?.validadeCarteirinha | date:'dd/MM/yyyy' }}</td>
              <td data-label="Ações">
                <button (click)="editarPaciente(p)">Editar</button>
                <button (click)="inativarPaciente(p.id)">Inativar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>

<div class="modal-form" id="modalForm" role="dialog" aria-modal="true" hidden (click)="onBackdropClick($event, '#modalForm')">
  <div class="modal-form__content">
    
    <form (ngSubmit)="onSubmit()" #pacienteForm="ngForm" class="modal-form__content__form">

        <label for="novoPacienteNome">Nome</label>
        <input type="text" id="novoPacienteNome" name="nome" [(ngModel)]="novoPaciente.nome" required />

        <label for="novoPacienteSobrenome">Sobrenome</label>
        <input type="text" id="novoPacienteSobrenome" name="sobrenome" [(ngModel)]="novoPaciente.sobrenome" required />

        <label for="novoPacienteDtNasc">Data de Nascimento</label>
        <input type="date" id="novoPacienteDtNasc" name="dataNascimento" [(ngModel)]="novoPaciente.dataNascimento" [(ngModel)]="novoPaciente.dataNascimento" appDataFutura #dataNascimento="ngModel" required />

        <small *ngIf="dataNascimento.errors?.['dataFutura'] && dataNascimento.touched" class="error">
          A data de nascimento não pode ser no futuro.
        </small>

        <label for="novoPacienteGenero">Gênero</label>
        <select name="genero" [(ngModel)]="novoPaciente.genero" id="novoPacienteGenero" required>
          <option value="" selected disabled>Selecione</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Outro">Outro</option>
        </select>

        <label for="novoPacienteCpf">CPF</label>
        <input
          type="text"
          id="novoPacienteCpf"
          name="cpf"
          mask="000.000.000-00"
          [(ngModel)]="novoPaciente.cpf"
          cpfValidator
          cpfDuplicate
          [cpfOriginal]="cpfOriginal"
          [pacienteId]="pacienteEditandoId"
          #cpf="ngModel"
        />

        <small *ngIf="cpf.errors?.['cpfInvalido'] && cpf.touched" class="error">
          CPF inválido.
        </small>

        <small *ngIf="cpf.errors?.['cpfJaExiste']  && cpf.touched" class="error">
          Este CPF já está cadastrado.
        </small>

        <label for="novoPacienteRg">RG</label>
        <input type="text" id="novoPacienteRg" name="rg" mask="00.000.000-0" [(ngModel)]="novoPaciente.rg" required />

        <label for="novoPacienteUfRg">UF do RG</label>
        <select name="ufRg" [(ngModel)]="novoPaciente.ufRg" id="novoPacienteUfRg" required>
          <option value="" selected disabled>Selecione</option>
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>

        <label for="novoPacienteEmail">E-mail</label>
        <input 
          type="email" 
          id="novoPacienteEmail" 
          name="email" 
          [(ngModel)]="novoPaciente.email" 
          emailValidator 
          #email="ngModel" 
          required 
        />

        <small *ngIf="email.errors?.['emailInvalido'] && email.touched" class="error">
          E-mail inválido.
        </small>

        <div ngModelGroup="contatos" #contatos="ngModelGroup" telefoneObrigatorio>

          <label for="novoPacienteCelular">Celular</label>
          <input
            type="tel"
            id="novoPacienteCelular"
            name="celular"
            mask="(00)00000-0000"
            [(ngModel)]="novoPaciente.celular"
          />

          <label for="novoPacienteTelefone">Telefone</label>
          <input
            type="tel"
            id="novoPacienteTelefone"
            name="telefone"
            mask="(00)0000-0000"
            [(ngModel)]="novoPaciente.telefone"
          />

          <small *ngIf="contatos?.errors?.['telefoneObrigatorio'] && contatos.touched" class="error">
            Informe pelo menos um número de contato (celular ou telefone).
          </small>

        </div>

        <label for="novoPacienteConvenio">Convênio</label>
        <select id="novoPacienteConvenio" name="convenioId" [(ngModel)]="novoPaciente.convenioId" required>
          <option value="" disabled selected>Selecione</option>

          <option *ngFor="let item of convenios" [ngValue]="item.id">
            {{ item.nome }}
          </option>
        </select>

        <label for="novoPacienteNmrCarteirinhaConvenio">Nº da Carteirinha do Convênio</label>
        <input type="text" id="novoPacienteNmrCarteirinhaConvenio" name="numeroCarteirinha" [(ngModel)]="novoPaciente.numeroCarteirinha" required />

        <label for="novoPacienteValidadeCarteirinha">Validade da Carteirinha do Convênio</label>
        <input type="date" id="novoPacienteValidadeCarteirinha" name="validadeCarteirinha" [(ngModel)]="novoPaciente.validadeCarteirinha" required />

        <button type="submit" [disabled]="pacienteForm.invalid">Salvar</button>

        <button type="button" class="modal-form__content__bt-close" (click)="fecharModal('#modalForm')">
          &times;
        </button>
      </form>
  </div>
</div>



<router-outlet />