@import '../../src/styles.scss';

main {
    padding: 48px 0;
    
    .sec-pacientes {
        &__actions {
            display: flex;
            justify-content: center;
            margin: 0 0 16px;

            @media (max-width: $sm) {
                flex-direction: column;
            }

            &__bt {
                &:first-child {
                    margin: 0 8px 0 0;

                    @media (max-width: $sm) {
                        margin: 0 0 8px;
                    }
                }
            }
        }

        &__table {
            tr.inativo {
                td {
                    opacity: .5;
                }
            }
            &__status {
                color: $red;

                &:not(.inativo) {
                    color: $green;
                }
            }
            &__actions {

                &__bt {
                    &:first-child {
                        margin: 0 8px 0 0;
                    }
                }
            }
        }
    }
}

html.modal-open,
body.modal-open {
    overflow: hidden;
    height: 100%;
}

.modal-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .2);
    overflow-y: auto;
    padding: 60px 0 40px;

    @media (max-width: $sm) {
        padding: 0;
    }

    small.error {
        color: $red;
        font-size: 1.2rem;
    }

    &__content {
        background-color: $white;
        box-shadow: 1px 1px 10px rgba($white, .2);
        width: 100%;
        max-width: $sm;
        padding: 40px;
        margin: auto;
        position: relative;

        &__form {
            label {
                font-size: 1.4rem;
                margin: 0 0 4px;
                display: block;
            }

            input, select {
                display: block;
                width: 100%;
                margin: 0 0 8px;
                border-radius: 0;
                border: 1px solid rgba($black, .2);
                padding: 10px;
                outline: none;
                font-size: 1.4rem;
            }

            &__actions {
                &__bt-salvar {
                    margin: 0 8px 0 0;
                }
            }
        }
    }
}